.SideBar
  .UserName
    .Display
      .Display__name
        = current_user.name
      .Display__icon
        = link_to "#", class: "Display__icon__btn" do
          =icon('fa', 'edit', class: 'Display__icon__btn--edit')
        = link_to edit_user_path(current_user), class: "Display__icon__btn" do
          =icon('fa', 'cog', class: 'Display__icon__btn--cog')
  .GroupList
    .Group
      .Group__name
        techcamp
      .Group__latestMessage
        まだメッセージがありません
    .Group
      .Group__name
        techexpert
      .Group__latestMessage
        まだメッセージがありません
    .Group
      .Group__name
        techmaster
      .Group__latestMessage
        まだメッセージがありません