$whiteColor: #ffffff;
$main_blue_light: #38aef0;
$main_gray_dark: #333333;
$main_gray_light: #999999;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;